.xgt {
  li:first-child img{
    margin: 0 auto 15px;
    width: 20%;
  }
  li:nth-child(2) img {
    width: 30%;
    margin: 0 auto;
  }
  li:nth-child(3) img{
    width: 70%;
    margin: 20px auto 0;
    border-top: 2px solid #ccc;
    padding: 20px;
  }
  li:last-child img {
    width: 65%;
    margin: 0 auto 20px;
  }
}

.afh {
  img{
    box-sizing: border-box;
    padding: 5px;
    width: 34.5%;
    float: left;
    box-shadow: 2px 2px 0.5px rgba(0,0,0,0.4);
    &:first-child {
    width: 64.5%;
    }
  }
}

.ddwh-afh {
  img {
    &:first-child {
      float: left;
      width: 62%;
      margin-top: 20px;
      padding: 5px;
      box-shadow: 2px 2px 0.5px rgba(0,0,0,0.4);
    }
    &:nth-child(2) {
      float: left;
      width: 30%;
      margin: 25px 0 0 10px;
    }
    &:nth-child(3) {
      width: 60%;
      margin: 0 auto;
      padding: 10px 0;
    }
    &:last-child{
      padding: 5px;
      width: 97.5%;
      box-shadow: 2px 2px 0.5px rgba(0,0,0,0.4);
    }
  }
}

.gnsj-afh {
  img {
    &[src*=jpg] {
      padding: 5px;
      box-shadow: 2px 2px 0.5px rgba(0,0,0,0.4);
    }
    &:first-child {
      width: 25%;
      padding: 20px 0 0 15px;
      float: left;
    }
    &:nth-child(2) {
      margin: 15px 5px;
      float: right;
      width: 65%;
    }
    &:nth-child(3) {
      float: left;
      width: 43%;
      margin: 0 2px;
    }
    &:last-child {
      width: 49%;
      float: right;
      margin-right: 2px;
    }
  }
}

.jt-afh {
  img {
    width: 98%;
    margin: 0 auto;
    &[src*=jpg] {
    padding: 5px;
    box-shadow: 2px 2px 0.5px rgba(0,0,0,0.4);
  }
    &:nth-child(3n+1){
      width: 60%;
      margin: 20px auto;
    }
    &:last-child {
      width: 60%;
      margin: 20px auto;
    }
    &:first-child{
      padding-top: 20px;
    }
  }
}


.tc {
  height: 110px;
}

// zybs

.zybs {
  img{
    box-sizing: border-box;
    padding: 5px;
    width: 34%;
    float: left;
    box-shadow: 2px 2px 0.5px rgba(0,0,0,0.4);
    &:first-child {
    width: 65.8%;
    }
  }
}

.ddwh-zybs {
  img {
    &:first-child {
      float: left;
      width: 64%;
      margin-top: 20px;
      padding: 5px;
      box-shadow: 2px 2px 0.5px rgba(0,0,0,0.4);
    }
    &:nth-child(2) {
      float: left;
      width: 25%;
      margin: 25px 0 0 20px;
    }
    &:nth-child(3) {
      width: 60%;
      margin: 0 auto;
      padding: 15px 0;
    }
    &:last-child{
      padding: 5px;
      width: 97.5%;
      box-shadow: 2px 2px 0.5px rgba(0,0,0,0.4);
    }
  }
}

.gnsj-zybs {
  img {
    &[src*=jpg] {
      padding: 5px;
      box-shadow: 2px 2px 0.5px rgba(0,0,0,0.4);
    }
    &:first-child {
      width: 20%;
      padding: 22px 0 0 30px;
      float: left;
    }
    &:nth-child(2) {
      padding: 5px;
      box-shadow: 2px 2px 0.5px rgba(0,0,0,0.4);
      margin: 15px 5px;
      float: right;
      width: 65%;
    }
    &:nth-child(3) {
      float: left;
      width: 43%;
      margin: 0 2px;
    }
    &:last-child {
      width: 50%;
      float: right;
    }
  }
}

.nav-xgt a:nth-child(3) {
  color: #222;
}
